<a class="waves-effect waves-light btn" id="logout"><i class="material-icons right">exit_to_app</i>Logout</a>




<hr>
<h3>My Inventory: </h3>

<table class="table table-hover" style="margin-top: 30px;">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Brand</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Update</th>
    </tr>
  </thead>
  <tbody id="dataInventory"> </tbody>
</table>








<hr>
<form id="search-form">
  <div class="row">
    <div class="col">
      <div class="input-field">
        <input id="searchText" type="text" class="validate" name="searchText">
        <label for="searchText">Search</label>
      </div>
    </div>
    <div class="col">
      <div style="text-align: center;">
        <input class="btn" type="submit" value="Search" />
      </div>
    </div>
  </div>



</form>


<h3>Products: </h3>

<table class="table table-hover" style="margin-top: 30px;">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Brand</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Add</th>
    </tr>
  </thead>
  <tbody id="dataProducts"> </tbody>
<<<<<<< HEAD
</table>

<h3>Manual Add: </h3>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="new-product-name" type="text" class="validate">
          <label for="new-product-name">Product Name</label>
        </div>
        <div class="input-field col s6">
          <input id="new-category" type="text" class="validate">
          <label for="new-category">Category</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="new-quantity" type="text" class="validate">
          <label for="new-quantity">Quantity</label>
        </div>
        <div class="input-field col s6">
          <input id="new-price" type="text" class="validate">
          <label for="new-price">Price</label>
        </div>
      </div>
      <div class="row">
          <div class="input-field col s12">
          <input id="new-brand" type="text" class="validate">
          <label for="new-brand">Brand</label>
        </div>
      </div>
      <div class="col">
      <div style="text-align: center;">
        <input class="btn" id="new-product-add" type="submit" value="Add Product" />
      </div>
    </div>
    </form>
  </div>
=======
</table>
>>>>>>> 5e34ef7406371dd6bf0869ed1ad62c7c7787eb14
