<a class="waves-effect waves-light btn" id="logout"><i class="material-icons right">exit_to_app</i>Logout</a>

<a class="waves-effect waves-light btn" id="search"><i class="material-icons right">search</i>Search</a>


<hr>
<h3>My Inventory: </h3>

<table class="table table-hover" style="margin-top: 30px;">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Brand</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Update</th>
    </tr>
  </thead>
  <tbody id="dataInventory"> </tbody>
</table>







