<a class="waves-effect waves-light btn" id="logout"><i class="material-icons right">exit_to_app</i>Logout</a>


<h2>Dashboard</h2>


<form id="search-form">
  <div class="row">
    <div class="col">
      <div class="input-field">
        <input id="searchText" type="text" class="validate" name="searchText">
        <label for="searchText">Search</label>
      </div>
    </div>
    <div class="col">
      <div style="text-align: center;">
        <input class="btn" type="submit" value="Search" />
      </div>
    </div>
  </div>



</form>


<h3>Products: </h3>

<table class="table table-hover" style="margin-top: 30px;">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Brand</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Add</th>
    </tr>
  </thead>
  <tbody id="dataProducts"> </tbody>
</table>