<div class="row">
    <div id="login-card">
        <div class="card blue-grey darken-1">
            <form id="signin" name="signin" method="post" action="signin">

                <div class="card-content white-text">
                    <div class="row" id="login-icon">
                        <img src="/assets/images/login.png" alt="login icon">
                    </div>

                    <div class="row">
                        <div class="col m10 push-m1">
                            <div class="input-field">
                                <input id="email" type="email" class="validate" name="email">
                                <label for="email">Email Address</label>
                                <span class="helper-text" data-error="wrong" data-success="right">Enter your email</span>
                            </div>
                            <div class="input-field">
                                <input id="password" type="password" class="validate" name="password">
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <div style="text-align: right;">
                            <input class="btn" type="submit" value="Sign In" />
                        </div>

                    </div>

                </div>

                <div class="card-action">
                    Don't have an account? <a href="/signup">&nbsp;&nbsp; Sign up now</a>
                </div>

            </form>
        </div>
    </div>
</div>